<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap" rel="stylesheet" />
		<title>Изменить</title>
		<link rel="stylesheet" type="text/css" href="C:\Users\senya\OneDrive\Рабочий стол\Другое\Work with Roman\Mebel.ru\Mebel\Admin-panel\CSS\change-mebel.css">
	</head>
	<body>
		<div class="black-line"></div>
		<div class="nav-panel">
			<div class="admin">ADMIN</div>
			<nav>
				<ul>
					<li><a href="main-mebel.html">Главная</a></li>
					<li><a href="Add-mebel.html">Добавить</a></li>
					<li><a href="Change-mebel.html">Изменить →</a></li>
					<li><a href="Delete-mebel.html">Удалить</a></li>
				</ul>
			</nav>
		</div>
		<div class="all">
			<div class="main">
				<h2>ИЗМЕНИТЬ ТОВАР</h2>
				<form action="#" method="post">
					<div class="input">
						<label for="name">Товар</label>
						<select name="list1">
 							<option>Выберите из списка</option>
 							<option value="1">Option</option>
 							<option value="2">Textarea</option>
 							<option value="3">Label</option>
 							<option value="4">Fieldset</option>
 							<option value="5">Legend</option>
 						</select>
					</div>
					<div class="input">
						<label for="name">Изменить категорию</label>
						<select name="list1">
 							<option>Выберите из списка</option>
 							<option value="1">Option</option>
 							<option value="2">Textarea</option>
 							<option value="3">Label</option>
 							<option value="4">Fieldset</option>
 							<option value="5">Legend</option>
 						</select>
					</div>
					<div class="input">
						<label for="name">Новое название</label>
						<input type="text" name="name" id="name" value="" tabindex="1" />
					</div>
					<div class="input">
						<label for="name">Новая цена</label>
						<input type="text" name="name" id="name" value="" tabindex="1" />
					</div>
					<div class="input">
						<label for="name">Новое описание</label>
						<input type="text" name="name" id="name" value="" tabindex="1" />
					</div>
					<div class="input-file">
						<label for="name">Добавить картинку</label>
						<input type="file" name="file" id="file" tabindex="1" accept="image/*"/>
						<label for="file">выберите файл</label>
					</div>
					<div class="button">
						<input type="submit" value="ИЗМЕНИТЬ ТОВАР" />
					</div>
				</form>
			</div>
			<div class="main">
				<h2>ИЗМЕНИТЬ МАТЕРИАЛ</h2>
				<form action="#" method="post">
					<div class="input">
						<label for="name">Материал</label>
						<select name="list1">
 							<option>Выберите из списка</option>
 							<option value="1">Option</option>
 							<option value="2">Textarea</option>
 							<option value="3">Label</option>
 							<option value="4">Fieldset</option>
 							<option value="5">Legend</option>
 						</select>
					</div>
					<div class="input">
						<label for="name">Новое название</label>
						<input type="text" name="name" id="name" value="" tabindex="1" />
					</div>
					<div class="input">
						<label for="name">Новая цена</label>
						<input type="text" name="name" id="name" value="" tabindex="1" />
					</div>
					<div class="input">
						<label for="name">Новое описание</label>
						<input type="text" name="name" id="name" value="" tabindex="1" />
					</div>
					<div class="input-file">
						<label for="name">Новая картинка</label>
						<input type="file" name="file" id="file" tabindex="1" accept="image/*"/>
						<label for="file">выберите файл</label>
					</div>
					<div class="button">
						<input type="submit" value="ИЗМЕНИТЬ МАТЕРИАЛ" />
					</div>
				</form>
			</div>
		</div>
	</body>
</html>